.app {
  height: 100vh;
  width: 100vw;
  background-color: rgb(168, 179, 182);
  display: grid;
  place-items: center;
}

.app__title{
  font-size:32px;
  color:#4e4d44;
  padding: 8px;
}
.app__container {
    height: 100vh;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(232, 234, 237);
  border-radius: 12px;
  padding: 32px 0;
  margin: 0 auto;
}

.app__todoContainer {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  width: 100%;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}
